LABELER_DID=did:plc:abc
LABELER_PASSWORD=abcd-efgh-ijkl-mnop
# If empty, dashboard returns 404
DASHBOARD_PASSWORD=admin_password
# These are default
# POSTGRES_PASSWORD=dev_postgres_pw
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
PHOENIX_SECRET_KEY_BASE=abcdefg
